<template data-window="firekhoi" id="player">
    <div>
        <input type="text" id="link" autocomplete="off" placeholder="https://www.youtube.com/watch?v=uUnguqPxzNU">
        <button onclick="set_video()">-></button>
    </div>
    <iframe id="browser" src="https://www.youtube.com/embed/uUnguqPxzNU" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>
    <script>
        function set_video() {
            let link = document.getElementById("link").value || "https://www.youtube.com/watch?v=dGQtL1l5i0Q"
            let url = new URL(link)

            if (url.host === "youtube.com" || url.host === "www.youtube.com") {
                let video = "dGQtL1l5i0Q"

                if (url.search)
                    video = url.search.split("=")[1]

                document.getElementById("browser").src = "https://www.youtube.com/embed/" + video
            }
        }
    </script>
</template>
