<template data-window="khoipedia" style="width: 550px; padding: 10px;">
    <p>In the <a href="#" onclick="H.WM.maximize(H.WM.get('khoima clicker'))">khoima clicker</a> window, click the khoima in order to earn gamergoo.</p>
    <p>When you have enough gamergoo, you can buy buildings inside the <a href="#" onclick="H.WM.maximize(H.WM.get('shop'))">shop.</a></p>
    <p>After you buy buildings from the shop, they will appear in the <a href="#" onclick="H.WM.maximize(H.WM.get('buildings'))">buildings</a> window.</p>
    <p>You can also buy minigames from the shop like <a href="#" onclick="H.WM.maximize(H.WM.get('khoisweeper'))">khoisweeper</a> which can then be launched via desktop icons.<br></p>
    <p>You can view the recent patchnotes in the <a href="#" onclick="H.WM.maximize(H.WM.get('changelog'))">changelog</a>, or watch YouTube videos in <a href="#" onclick="H.WM.maximize(H.WM.get('firekhoi'))">firekhoi.</a></p>
    <p>You can also drag around these windows, and use the window control buttons to minimize, maximize, and close the windows.</p>
    <p>Use <b>CTRL+SHIFT+X</b> to reset the window positions back to default.</p>
    <p>Use <b>CTRL+SHIFT+Z</b> to switch between Windows XP and 98 themes.</p>
    <button onclick="H.WM.exit(H.WM.get('khoipedia'))">close khoipedia</button>
</template>
