<template data-window="shenzhen solitaire" data-prefix="sh">
    <div id="shenzhen">
        <div id="stores">
            <div id="trays"></div>
            <div id="buttons">
                <button disabled="disabled" id="dragon-red">RED</button>
                <button disabled="disabled" id="dragon-black">BLK</button>
                <button disabled="disabled" id="dragon-green">GRN</button>
            </div>
            <div id="bins"></div>
        </div>
        <div class="controls">
            <button onclick="H.SH.restart()">restart</button>
            <input type="checkbox" name="fast" id="fast">
            <label for="fast">fast animations</label>
            <input type="checkbox" name="fast" id="colorblind">
            <label for="colorblind">red/green colorblind</label>
        </div>
    </div>
</template>