<template data-window="shenzhen solitaire">
    <div id="shenzhen">
        <div id="trays"></div>
        <div id="playable">
            <div class="solitaire">
                <div class="cols"></div>
                <div class="cols"></div>
                <div class="cols"></div>
                <div class="cols"></div>
                <div class="cols"></div>
                <div class="cols"></div>
                <div class="cols"></div>
                <div class="cols"></div>
            </div>
        </div>
    </div>
</template>