<template data-window="shenzhen solitaire">
    <div id="shenzhen">
        <div id="stores">
            <div id="trays"></div>
            <div id="buttons">
                <button disabled="disabled" id="dragon-red">RED</button>
                <button disabled="disabled" id="dragon-black">BLK</button>
                <button disabled="disabled" id="dragon-green">GRN</button>
            </div>
            <div id="bins"></div>
        </div>
        <div class="controls">
            <button onclick="H.SH.restart()">restart</button>
        </div>
    </div>
</template>