@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

button,
label,
input,
textarea,
select,
option,
ul.tree-view,
.window,
.title-bar {
    font-family: "VT323", Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.1em;
}

#background.xp {
    background: url(../images/backgrounds/xp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

#background.w98 { background: #008080 }


ul.tree-view ul {
    margin-left: 22px;
}

ul.tree-view a { color: darkgreen }
ul.tree-view details > summary::before { margin-top: 5px }

ul.tree-view ul > li::before {
    top: .6em;
    width: 12px;
}

ul.tree-view ul > li:last-child::after { top: .7em }

.title-bar-text { font-weight: normal }

.window-body {
    max-height: 10000vh;
    visibility: visible;
    transition: max-height .1s ease;
}

.title-bar {
    cursor: pointer;
}

#background {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: -1;
}

.minimize {
    max-height: 0;
    visibility: hidden;
    transition: max-height .1s ease;
}

.window { position: absolute }

#window-2 { min-width: 465px }

#desktop .icon {
    display: block;
    cursor: default;
    text-decoration: none;
    padding: 3px;

    border: 1px solid transparent;

    margin: 5px;
}

#desktop .icon img {
    position: relative;

    width: 60px;
    height: 60px;

    left: 50%;
    margin-left: -30px;
}

#desktop .icon span {
    display: block;

    width: 80px;
    text-align: center;

    color:white;
    font-family: "VT323", Arial, sans-serif;
    font-size: 1.25rem;

    word-wrap: normal;
}

#desktop .icon:hover {
    background: #ADD8E6AA;
    border: 1px solid #ADD8E6CC;
}

#desktop .icon:active {
    background: #ADD8E6CC;
    border: 1px solid #ADD8E6AA;
}

#window-5 input {
    display: inline-block;
    margin-bottom: 5px;
    width: 475px;
}

#window-5 button {
    display: inline-block;
    width: 50px;
}