@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

button,
label,
input,
textarea,
select,
option,
ul.tree-view,
.window,
.title-bar {
    font-family: "VT323", Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.1em;
}

#background.xp {
    background: url(../images/backgrounds/xp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

#background.w98 { background: #008080 }


ul.tree-view ul {
    margin-left: 22px;
}

ul.tree-view a { color: darkgreen }
ul.tree-view details > summary::before { margin-top: 5px }

ul.tree-view ul > li::before {
    top: .6em;
    width: 12px;
}

ul.tree-view ul > li:last-child::after { top: .7em }

.title-bar-text { font-weight: normal }

.window-body {
    max-height: 10000vh;
    visibility: visible;
    transition: max-height .1s ease;
}

.title-bar {
    cursor: pointer;
}

#background {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: -1;
}

.minimize {
    max-height: 0;
    visibility: hidden;
    transition: max-height .1s ease;
}

.window { position: absolute }

#desktop .icon {
    display: block;
    cursor: default;
    text-decoration: none;
    padding: 3px;

    border: 1px solid transparent;

    margin: 5px;
}

#desktop .icon img {
    position: relative;

    width: 60px;
    height: 60px;

    left: 50%;
    margin-left: -30px;
}

#desktop .icon span {
    display: block;

    width: 80px;
    text-align: center;

    color:white;
    font-family: "VT323", Arial, sans-serif;
    font-size: 1.25rem;

    word-wrap: normal;
}

#desktop .icon:hover {
    background: #ADD8E6AA;
    border: 1px solid #ADD8E6CC;
}

#desktop .icon:active {
    background: #ADD8E6CC;
    border: 1px solid #ADD8E6AA;
}

#player input {
    display: inline-block;

    padding: 3px 4px;
    margin-bottom: 5px;
    border: none;

    width: 475px;
    height: 23px;
}

#player button {
    display: inline-block;
    width: 50px;
}

#minesweeper { border: 1px solid black }

#minesweeper button,
#ms-stats,
#ms-stats button,
#ms-stats span { font-size: 24px }

#minesweeper div { display: block }

#minesweeper div button {
    display: inline;
    min-height: 35px;
    min-width: 35px;

    /* Use 98 style buttons */
    background: silver;
    box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;

    /* Remove XP theme, if enabled */
    border-radius: 0;
    border: none;

    padding: 0;
}

#minesweeper div button.small {
    min-height: 30px;
    min-width: 30px;

    font-size: 22px;
}

#minesweeper div button:active,
#minesweeper #winner div {
    box-shadow: inset -1px -1px #fff,
                inset 1px 1px #0a0a0a,
                inset -2px -2px #dfdfdf,
                inset 2px 2px grey;
}
#minesweeper div button.revealed {
    box-shadow: inset -1px -1px #bababa,
                inset 1px 1px #9a9a9a,
                inset -2px -2px #dfdfdf,
                inset 2px 2px grey;
}

#ms-stats {
    display: block;

    text-align: center;

    padding: 5px;
    margin-top: -5x;
}

#minesweeper #winner {
    position: absolute;
    left: 50%;
    top: 50%;

    text-align: center;
}

#minesweeper #winner div {
    position: relative;

    left: -50%;
    top: -50%;

    padding: 1rem;

    background: silver;
}

#ms-stats select {
    font-size: 22px;
    line-height: 1em;
}

#ms-stats option {
    /* Firefox bug: will not render VT323 as webfont. */
    font-size: 20px;
    padding: 0;
}

select {
    background-size: 19px;
    min-height: 28px;
}

#changelog {
    width: 455px;
    height: 650px;

    pointer-events: auto;
}

.ifoverlay {
    /* Cross origin iframe click event doesnt work */
    position: absolute;
}

#background .selection {
    position: fixed;
    display: block;

    background: #ADD8E6CC;
    border: 1px solid #ADD8E6AA;

    z-index: 10;
}